@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    font-family: 'Bebas Neue', cursive;
}

.textos h2 {
    color: rgb(162, 122, 169)
}

.textos {
    font-size: 40px;
    color: #c8a2c8;
    display: flex;
    text-align: center;
    margin-top: 50px;
    flex-direction: column;
    height: 300px;
    width: 600px;
    ;
}

.color {
    color: rgb(162, 122, 169)
}